*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.header{
    width: 100%;
    background-color: #000;
}

.nav{
    display: flex;
    justify-content: center;
}
.menu{
    display: flex;
    list-style: none;
}

.link{
    display: inline-block;
    padding: 0.5rem 0.75rem;
    color: #fff;
    text-decoration: none;
}

.link:hover{
    background: rgb(255, 230, 0);
    width: 100%;
}

.submenu{
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: #000 ;
    display: none;
}
.submenu .submenu{
    left: 100%;
    top: 0;
}

.item{
    position: relative;
}

.item:hover > .submenu{
    display: flex;
}