body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
:root{
    --track-bg: #eee;
    --thumb-bg: #ccc;
    --thumb-hover: #aaa;
    --scroll-radius: 10px;
    
}

@media (prefers-color-scheme: dark) { 
    :root{
        --track-bg: #2d3134;
        --thumb-bg: #464d50;
        
    }
    body{
        background-color: #141618;
    }
    .container{
        color: white;
        background: #282d31;
    }
}

.container{
    width: 300px;
    height: 300px;
    overflow: auto;
    padding: 1rem;
}

::-webkit-scrollbar{
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track{
    background-color: var(--track-bg);
}

::-webkit-scrollbar-thumb{
    border: 3px solid var(--track-bg);
    background-color: var(--thumb-bg);
    border-radius: var(--scroll-radius);
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover{
    background-color: var(--thumb-hover);
}

::-webkit-scrollbar-corner{
    display: none;
}

p{
    width: 400px;
}